.page {
  background-color: #f2f2f2;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.reveal {
  animation: reveal 1s forwards;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}
